<p>
  <a href="{{site.dc_site}}">Data Carpentry</a> develops and teaches workshops on the fundamental data skills you'll need to manage data throughout your studies. The target audience is students who have little to no prior computational experience, 
 and the skills taught during the workshop can be applied in all disciplines where you work with data in sheets. You will quickly be able to apply what you have learned in your own projects.
 
Digital development is constantly evolving, affecting society as well as the labour market. It is therefore important that you as a student can use both during your studies and when you graudate. In order to ensure this, all students at UCPH will during their Bachelor degree programme, acquire knowledge of five topics in the field of digitisation. These topics are gathered in the UCPH model for students' digital literacy and competencies.
This workshop gives you hands-on practice in managing data. Participants will be encouraged to help each other.
  
</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1005510">Good Enough Practices for Scientific Computing</a>".
  </em>
</p>
