<p>
  This workshop is part of something-something-digital dannelse
  <img src=
"https://github.com/KUBDatalab/2023-09-11-and-15-Carpentry-for-beginners/blob/gh-pages/fig/UCPHliteracy%20and%20skills.png?raw=true"
  style="float: left; margin: 5px;" 
  width = "100"
        >
      
<p>
      How many times were you frustrated while looking
      out for a good collection of programming/algorithm
      /interview questions? What did you expect and what
      did you get? This portal has been created to
      provide well written, well thought and well
      explained solutions for selected questions.
      An IIT Roorkee alumnus and founder of GeeksforGeeks.
      He loves to solve programming problems in most
      efficient ways. Apart from GeeksforGeeks, he has
      worked with DE Shaw and Co. as a software developer
      and JIIT Noida as an assistant professor. It is a
      good platform to learn programming. It is an
      educational website. Prepare for the Recruitment
      drive of product based companies like Microsoft,
      Amazon, Adobe etc with a free online placement
      preparation course.
    </p>
</p>
<p>
  <a href="{{site.dc_site}}">Data Carpentry</a> develops and teaches workshops on the fundamental data skills you'll need to manage data throughout your studies. The target audience is students who have little to no prior computational experience, 
 and the skills taught during the workshop can be applied in all disciplines where you work with data in sheets. You will quickly be able to apply what you have learned in your own projects.
 
Digital development is constantly evolving, affecting society as well as the labour market. It is therefore important that you as a student can use both during your studies and when you graudate. In order to ensure this, all students at UCPH will during their Bachelor degree programme, acquire knowledge of five topics in the field of digitisation. These topics are gathered in the UCPH model for students' digital literacy and competencies.
This workshop gives you hands-on practice in managing data. Participants will be encouraged to help each other.
  
</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1005510">Good Enough Practices for Scientific Computing</a>".
  </em>
</p>
